*{
  transition:300ms ease;
  font-weight: bolder;
  text-shadow: 8px 8px black;
}
body{
    width: 100%;
    text-align: center;
    background-color: var(--main-bg-color);
    overflow-x: hidden;
}

.button{
  padding:100px;
  color:white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  border-width: 10px;
  border-radius: 100px;
  box-shadow: 15px 15px black;
}

button:hover{
  transform: scale(0.95);
  box-shadow: 0px 0px;
}
.counter{
  color:white;
  padding-top: 50px;
  font-size: 100px;
  
}
.progressbar{
  background-color: #4CAF50; 
  border: 2px solid #000; 
  margin: auto;

}
/* base styles for larger screens */
.upgrades-container {
  color: white;
  font-size: 100px;
  margin-top: 70px;
}

/* Media query for devices with a max width of 600px (mobile devices) */
@media (max-width: 600px) {
  .upgrades-container {
    font-size: 25px; 
    margin-top: 10px;
  }
  .counter{
    color:white;
    padding-top: 0px;
    font-size: 40px;
    
  }
  .button{
    transform: scale(0.3);
    padding:50px;
  }
  .button:hover{
    transform: scale(0.4);
    padding: 60px;
  }
  .button-container{
    margin: auto;
    align-items: center;
  }
}

/* Media query for devices with a max width of 400px (very small devices) */
@media (max-width: 400px) {
  .upgrades-container {
    font-size: 40px; 
    margin-top: 10px; 
  }
  h4{
    font-size: medium;
  }
  *{
    transform: scale(0.97);
  }
}



/*meow*/

/* GITHUB TEST*/

